html{
    background-color: antiquewhite;
    margin-left:30% ;
    margin-right:30% ;
    font-size: 18px;
}

body{
background-color: aliceblue;
height: 800px;
width: 800px;
}
.first{
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
    padding: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.left{
    display: flex;
    flex-direction: column;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }