*{
   margin: 0;
   padding: 0; 
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,body{
    margin-left: 5%;
    margin-right: 5%;
}
.container{
    display: flex;
    margin-bottom: 20px;

}
.logo{
    margin-left: 50px;
    margin-bottom: 20px;
}

.img1{
 max-height: 200px;
 margin-left: 10%;
}
.right_part{
    margin-left: 10%;
    font-size: 20px;
}
.All_product{
    background-color: rgb(101, 138, 27);
    color: bisque;
    width: 220px;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.l_text{
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    background-color: rgb(196, 147, 84);
    color: antiquewhite;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}
/*.explore{
    font-size: 40px;
    background-color: rgb(196, 147, 84);
    width: 150px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
*/
a:hover{
    background-color: cadetblue;

}
.feature{
    margin-top: 20px;
    margin-top: 100px;
    display: flex;
    width: 300px;
    gap: 10px;
}
.features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40PX;
}
.feature:hover{
    font-size: 16.5px;
    text-decoration:underline; 
}
hr{
    margin: 45px;
    margin-bottom: 20px;

}
/* .menu{
    text-align: center;
    font-size: 18px;
    background-color: rgb(68, 151, 68);
    width: 100px;
    font-family: "Brush Script MT", cursive;
    color: antiquewhite;
    align-self: center;
    position:relative;
} */
.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
  }
  .menu .tag {
    align-self: center;
    width: 100px;
    background-color: rgb(29, 102, 29);
    color: aliceblue;
    text-align: center;
    font-size: 20px;
  }
  .grid-image {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
  }
  .grid-image:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
  }
  .grid{
    display: grid;
    gap: 10px;
    grid-template-areas:
      "I1 I1 I2 I3"
      "I1 I1 I2 I7"
      "I4 I5 I6 I7"
  }
  .item1 {
    grid-area: I1;
  }
  .item2 {
    grid-area: I2;
  }
  .item3 {
    grid-area: I3;
  }
  .item4 {
    grid-area: I4;
  }
  .item5 {
    grid-area: I5;
  }
  .item6 {
    grid-area: I6;
  }
  .item7 {
    grid-area: I7;
  }

.footer_container{
    margin-top: 40px;
    background-color:bisque;
    display: flex;
    justify-content: space-between;
}
ul{
    text-decoration: none;
    list-style: none;
}
.link_lists ul li {
    font-size: 16px;
    margin-bottom: 5px;}

.news_letter input {
        padding: 5px 40px;
        margin-bottom: 10px;
    }
.news_letter h3 {
            margin-bottom: 10px;
       
          }
.footer_container {
            padding: 30px;
            display: flex;
            justify-content: space-between;
          }
 .icon_container {
            display: flex;
            gap: 15px;
            font-size: 32px;
          }